<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
</head>
<body>
    <h1>Welcome to the naive recommender</h1>
    <p>Rate on a scale 0-5 🌟the following movie:</p>
    <form action="/results">
        Avatar :<input type="text" name="avatar" placeholder="0-5"><br>
        Titanic :<input type="text" name="titanic" placeholder="0-5"><br>
        <input type="submit" value="Submit">
    </form>
    <p>Get recommendation <a href="/results"> here</a>
    </p>
</body>
</html>